<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Information</title>
    </head>
    <body> 
        <%- include layout %>
        <br>
        <div id="hello">
            
        </div>

        <script>
            var username = getCookie("username");
            console.log()
            let innerhtml  = "<div class=\"container\">";
                innerhtml += `  <form class="" action="/hotel/booking" method="post">`;

                innerhtml += `  <div class="row justify-content-start">`;;
                innerhtml += `      <div class="col-12">`;
                innerhtml += `          <div class="row">`;
                innerhtml += `              <div class="row">
                                                <div class="p-3">ID :  <%=items._id%></div>
                                                <input type="hidden" id="hotel_id" name="hotel_id" value="<%=items._id%>">
                                                <input type="hidden" id="user_name" name="user_name" value="${username}">
                                            </div>`;
                innerhtml += `              <div class="row">
                                                <div class="p-3">Hotel Name : <%=items.name%></div>
                                            </div>`;
                innerhtml += `              <div class="row">
                                                <div class="p-3">Location : <%=items.street%></div>
                                            </div>`;
                innerhtml += `          </div>`;
                innerhtml += `      </div>`;
                innerhtml += `  </div>`;

                innerhtml += `  <hr style="border: 1px solid black">`;

                innerhtml += `  <div class="row justify-content-start">`;

                
                innerhtml += `      <div class="row">
                                        <div class="p-3">When would you like to stay at <%=items.name%> ?</div>
                                    </div>`;
                innerhtml += `      <div class="row">`;
                innerhtml += `          <div class="col-5">
                                            <div class="row">
                                                <div class="p-3">Check-In date</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-8">
                                                    <input type="datetime-local" id="check_in_date" name="check_in_date">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="row">
                                                <div class="p-3">Check-Out date</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-8">
                                                    <input type="datetime-local" id="check_out_date" name="check_out_date">
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                innerhtml += `      <div class="row justify-content-end">
                                        <div class="col-3">
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>
                                    </div>`;
                innerhtml += `  </div>`;

                innerhtml += `  <hr style="border: 1px solid black">`;

                innerhtml += `  </form>`;

                innerhtml += `</div>`;

            document.getElementById('hello').innerHTML = innerhtml;
        </script>
    </body>
</html>